*{


    padding: 0;
    margin: 0;

}
body{
    background-image:linear-gradient(to right, #01022d,rgba(0, 0, 0, 0.812) );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    


.container{
    background-image: linear-gradient(to right,#01022de5 , #00000088) ,
    url(photos/16627900db04b76fae3b64266ca161511422059cd24062fb5d900971003a0b70.jpg)
;
background-position: center 0;
width: 92%;
height: 700px;
background-size: cover;



}
.container:hover{
    background-image: linear-gradient(to right,#01022de5  , transparent),
    url(photos/16627900db04b76fae3b64266ca161511422059cd24062fb5d900971003a0b70.jpg)
;



}
header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;


}
.logo{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
ul{
    display: flex;
list-style: none;
justify-content: space-around;
    width: 40%;

}
a{
    text-decoration: none;
    color: white;

}
ul a  {
    border-bottom: 2px solid transparent;
}
ul a:hover{

border-bottom-color: white ;}

.content{
    width: 50%;
    margin-top: 150px;
    color: white;
}
.content h2{
    font-size: 100px;
    text-transform: uppercase;
}
.content p{
    width: 50%;
    
    letter-spacing: 2px;
    padding-top: 10px;
}
button{
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid transparent;
font-size: 30px;
padding: 6px 10px;
}
button:hover{
    cursor: pointer;
    background-color: transparent;
    border-color: white;
}







[